{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "comma-dangle": "off",
    "import/no-named-as-default": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-space-before-closing": ["error", "never"],
    "react/prefer-stateless-function": "warn"
  }
}
