{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-space-before-closing": ["error", "never"],
    "react/prefer-stateless-function": "warn"
  }
}
