.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}


.AppNavigation {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.AppNavigation li {
  margin-right: 5px;
}
